body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(128, 0, 0, 0.66);
  font-family: Arial, sans-serif;
}

/* Main app wrapper */
.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Card container (your QR box) */
.card {
  width: 100%;
  max-width: 500px;
  margin: 10px;
  background-color: #ffffff;
  padding: 40px 30px;
  border: 1.5px solid #b2b2b2;
  border-radius: 8px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.card h1 {
  color: #000000;
}

/* QR reader container (IMPORTANT for html5-qrcode) */
#reader {
  padding: 20px;
  border: 1.5px solid #b2b2b2;
  border-radius: 8px;
}

/* Hide info icon from library */
#reader img[alt="Info icon"] {
  display: none;
}

/* Camera icon styling */
#reader img[alt="Camera based scan"] {
  width: 100px !important;
  height: 100px !important;
}

/* Video styling (camera feed) */
video {
  width: 100% !important;
  border: 1px solid #b2b2b2 !important;
  border-radius: 8px;
}

/* Buttons (for your ResultScreen / Scan Again etc.) */
button {
  padding: 10px 20px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: rgba(0, 128, 0, 0.68);
  transition: 0.3s background-color;
}

button:hover {
  background-color: rgb(0, 128, 0);
}

.loading {
  text-align: center;
}

.safe {
  color: #16a34a;
  font-size: 30px;
  font-weight: bold;
}

.unsafe {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.reason-row {

  display: flex;

  justify-content: space-between;

  padding: 15px 0;

  border-bottom: 1px solid #ddd;
}

.buttons {

  margin-top: 30px;

  display: flex;

  flex-direction: column;

  gap: 15px;
}

.modal-overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.5);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.modal{

    width:90%;
    max-width:450px;

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    animation:popIn .3s ease;
}

@keyframes popIn{

    from{
        transform:scale(.8);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }
}

.modal-buttons{

    display:flex;
    gap:15px;
    margin-top:25px;
}

.cancel-btn{

    flex:1;
    background:#6b7280;
}

.danger-btn{

    flex:1;
    background:#dc2626;
}